@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/subset-Montserrat-Bold.eot');
    src: url('../fonts/Montserrat/subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat/subset-Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat/subset-Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/subset-Montserrat-Regular.eot');
    src: url('../fonts/Montserrat/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/subset-Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat/subset-Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/subset-Mulish-Bold.eot');
    src: url('../fonts/Mulish/subset-Mulish-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish/subset-Mulish-Bold.woff2') format('woff2'),
        url('../fonts/Mulish/subset-Mulish-Bold.woff') format('woff'),
        url('../fonts/Mulish/subset-Mulish-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/subset-Mulish-SemiBold.eot');
    src: url('../fonts/Mulish/subset-Mulish-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish/subset-Mulish-SemiBold.woff2') format('woff2'),
        url('../fonts/Mulish/subset-Mulish-SemiBold.woff') format('woff'),
        url('../fonts/Mulish/subset-Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}